html,body{
     margin: 0;
}
 *{
     margin: 0;
     padding: 0;
     font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
 .clear{
     clear: both;
}
.dflex{
     display:flex;
}
.aic{
     align-items: center;
}
 .header{
     border-bottom: 2px solid whitesmoke;
}
 .left-header {
     padding: 0px 10px;
}
 .left-header img{
     padding: 10px 10px;
}
 .menu-icon{
     opacity: .6;
     height: 15px;
     width: 20px;
}
 .middle-header{
     margin: 6px;
     flex: 70%;
     padding-left:40px;
     position: relative;
}
 .middle-header input{
     width: 80%;
     border-radius: 5px;
     border:1px solid whitesmoke;
     padding: 14px 14px 14px 46px;
     font-size: 15px;
}
 .middle-header input:focus{
     outline: none;
}
 .middle-header .search-icon{
     width: 20px;
     opacity: .7;
     position: absolute;
     top: 15px;
     left: 55px;
}
 .option{
     opacity: 0.6;
    width: 15px;
    height: 16px;
    top: 15px;
    right: 130px;
    position: absolute;
}
 .right-header{
     align-items: center;
}
 .right-header img{
     padding: 10px;
     display: inline-flex;
     height: fit-content;
     align-items: center;
     opacity: .6;
     width: 24px;
}
 .user-icon{
     border-radius: 50%;
     width: 30px !important;
}
 #dot-icon{
     width: 20px;
}
 .main-sub .cmp-button{
     padding: 0px 18px;
     border-radius: 44px;
     background-color: white;
     box-shadow: 0px 2px 2px 1px rgba(82, 75, 75, 0.5);
     border: none;
     width: 56%;
}
 img.plus-image{
     vertical-align: middle;
     padding: 8px;
     background: white;
     width: 30px;
}
 .button p{
     padding: 16px 0px;
     font-size: 15px;
     font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
     color:#404040;
     font-weight:500;
}
 .button :hover{
     box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
 .button{
     padding: 0px 10px;
}
 .main-sub{
     padding: 15px 4px;
     border-right: 1px solid #eaebed;
}
 .main-sub li{
     padding-left: 20px;
     line-height: 15px;
}
 .side-box{
     padding: 15px 0px;
     opacity: .7;
     overflow-y: hidden;
}
 ul ,li {
     list-style-type: none;
     list-style: none 
}
 .side-box a {
     display: inline-block;
     vertical-align: super;
     padding: 10px 20px;
     font-size: 15px;
     text-decoration: none;
     color: #404040;
     font-weight: 600;
}
 span.material-icons{
     font-size: 20px;
}
 .meeting-bar{
     padding: 10px 10px;
}
 .meeting-bar li{
     line-height: 34px;
}
 .meeting-bar ul{
     padding-top: 10px;
}
 .meeting-bar a{
     vertical-align: super;
     text-decoration: none;
     font-size: 14px;
     color: black;
     padding: 5px 20px 
}
 .sidebox3{
     padding: 10px 10px;
}
 .side-box p{
     padding: 20px;
}
 .sidebox3 span{
     padding: 10px;
}
 .hang-content{
     padding: 10px;
}
 .left-bar{
     float: left;
     padding: 10px 15px;
}
 .right-bar{
     float: right;
     margin-top: 10px;
}
 .right-bar img{
     width: 10px;
}
 .middle-bar input, .middle-bar img, .middle-bar span{
     display: inline-block;
     padding: 10px;
}
 .middle-bar input, .middle-bar img, .middle-bar span {
     display: inline-block;
     vertical-align: middle;
     padding: 10px;
}
 .categories{
     box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
}
 .categories .primary{
     width: 30%;
     color: red;
     border-bottom: 3px solid red;
}
 .categories .social{
     width: 30%;
}
 .categories .promotion{
     width: 30%;
}
 .categories p{
     display: inline;
     vertical-align: super;
     font-size: 13px;
     padding-left: 10px;
}
 .mails{
     display: flex;
     justify-content: space-between;
}
 .mails p{
     display: inline;
     font-family: system-ui;
}
 .mails input{
         vertical-align: middle;
}
 .content-wrapper{
      flex: 2;
      border-right: 1px solid #eaebed;
}
 .addon-services{
     margin: 10px;
}
 .addon-services img{
     display: block;
     width: 25px;
     height: 25px;
     margin: 15px 2px;
}
 .addon-services img:nth-child(5) {
     margin-top: 52px;
}
 .mails h6{
     font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
     font-weight: 400;
     font-size: 15px;
}
 .social img{
     width: 20px;
}
 .mails h4{
     margin: 4px 40px;
     font-size: 11px;
}
 .social img{
     width: 20px;
}
 .ltc{
     color: #c1c1c1;
     font-size: 14px;
}
 span.material-icons {
     font-size: 20px;
     color: #a0989b;
}
 ltc2{
     color: #a0989b;
}
 .cml{
     vertical-align: bottom;
     border-radius: 50%;
}
 .m10{
     padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1ab;
}
 .pink{
     background: #fbdfe3;
     border-radius: 0px 20px 20px 0px;
}
 .red{
     color: red !important;
         padding: 0px 12px;
}
 .rfull{
     flex:1;
}
.ml10{
    vertical-align: middle;
        margin-left: 10px;
}