body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.clear{
  clear:both;
}

.container {
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
  height: 55px;
  margin-top: 7px;
}

.navbar-container-one ul,
.navbar-container-two ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;;  
}

.navbar-container-one ul li a,
.navbar-container-two ul li a {
  text-decoration: none;
  color: #404040;

}

.navbar-container-two ul li a {
  color: black;
}

.navbar-container-two ul li i {
  padding-right: 1rem;
}

.navbar-container-two ul li i:hover {
  color: #404040;
  cursor: pointer;
}
.navbar-container-two ul li .signin {
  background-color: #4683ec;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}
.navbar-container-one ul li a:hover,
.navbar-container-two ul li a:hover {
  text-decoration: underline;
  color: #404040;
}
.z1asCe {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
  margin-right: 14px;
}
.z1asCe svg {
  display: block;
  height: 100%;
  width: 100%;
}
#user-menu {
  display: flex;
  align-items: center;
  background-color: rgb(235, 116, 69);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
#user-initial {
  width: 100%;
  text-align: center;
  color: #FFF;
  float:right; 
}
.example input[type=text] {
  padding: 10px;
  padding-left: 60px;
  font-size: 17px;
  border: 1px solid rgb(235, 235, 235);
  width: 700px;
  background:#f1f3f4;
  margin-top: 50px;
  border-radius: 5px;
  margin-left: 55px;
}
.example button {
  margin-left: 60px;
  float: left;
  width: 5%;
  padding-left: 60px;
  top: -40px;
  padding: 9px;
  background:#f1f3f4;
  color: gray;
  font-size: 17px;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
  z-index: 6;
  position: relative;
  
}
.navbar-container-one li{
  margin-left: 20px;
  margin-top: 0;
}
.container ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.navbar-container-one li  img{
  margin-top: 20px;
}
.navbar-container-two li{
  margin-right: 10px;

}
input:focus {
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
 .navbar-container-two ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  margin-right: -19px;
}
.help-icons{
  margin-right: 15px;
  opacity: 0.5;
}
.option-icon{
  position: absolute;
}
.main-bar{
  padding: 0;
  margin: 0;
  height: 12%;
  display: flex;
}
.sidebar {
  width: 246px;
  padding: 0;
  margin: 0;
  
  }
  .body-text {
  margin-left: 150px;
  font-size: 18px;
  vertical-align: middle;
  }
  .btn {
    background-color: white;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 35px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    width: 70%;
    text-align: end;
    margin: 10px;
  }
  .plus-image{
    margin-right: 10px;
    float: left;
    vertical-align: middle;

  }
  .sidebar span{
    margin-top: 6px;
    margin-left: 0px;
    color: gray;
    font-size: 20px;
  }
  ul {
    list-style-type: none;
}

.main-bar ul{
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0px;
  
}
.side-box{
  margin: 10px;
  padding: 10px;
  overflow-y: scroll;
  width: 200px;
}

.side-box ul{
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0px;
  
}
span.material-icon{
  opacity: 0.54;
    width: 0px;
    color: gray;
}
.side-box a{
  margin-left: 20px;
  position: relative;
  padding-left: 10px;
  list-style-type: none;
  text-decoration: none;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: rgb(49, 49, 49);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  letter-spacing: .2px;
  color: #202124;
  text-shadow: none;
}

.meeting-bar{
  position:absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
  list-style-type: none;
  margin: 20px;
  
  
}
.meeting-bar ul{
 
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0px;
}
.meeting-bar a{
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  padding-left: 10px;
  list-style-type: none;
  text-decoration: none;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: rgb(49, 49, 49);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  letter-spacing: .2px;
  color: #202124;
  text-shadow: none;
}
.sidebox3{
  margin-top: 130px;
  margin-left:20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
  }
  
  .sidebox3 img{
    border-radius: 50%;
    height: 28px;
    width: 28px;
    line-height: 28px;
  
      
  }
  .sidebox3 .name{
  font-size: 13px;
  
  }
  .sidebox3 .material-icons{
    color: #5f6368; 
    font-size: 21px;
        margin-bottom: 16px;
  }
  
.middle-bar{
  width: 100%;
}
.left-bar{
  float: left;
}
.right-bar{
  float: right;
}
.middle-bar input,
.middle-bar img,
.middle-bar span{
  display: inline-block;
  padding: 10px;
}
.middle-bar input,.right-bar span{
  vertical-align: super;
}
.categories{
  width: 100%;
}
.categories .primary{
  display: inline-block;
  width: 300px;
  color: red;
  border-bottom: 3px solid #D93025;

}
.categories .social{
  display: inline-block;
  width: 300px;

}
.categories .promotion{
  display: inline-block;
  width: 400px;
}
.categories p{
  display: inline;
  vertical-align: super;
}
.mails{
  width: 100%;
  overflow: hidden;
  height: 30px;
  margin: 10px 0;

}
.mails p{
  display: inline;
  vertical-align: super;
  padding: 3px 10px 3px 24px;
}
.content-wrapper{
  width: 1100px;
}
.addon-services{
  width: 75px;
  
}
.addon-services img{
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  margin: 36px auto;
}
.addon-services img:nth-child(5) {
  margin-top: 52px;
}