html,body{
  margin: 0;
}
*{
  margin: 0;
  padding: 0;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.clear{
  clear: both;
}
.header{
  display: flex;
  align-items: center;
  border-bottom: 2px solid whitesmoke;
}
.left-header {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.left-header img{
  padding: 10px 10px;
}
.menu-icon{
  opacity: .6;
  height: 15px;
  width: 20px;
}
.middle-header{
  margin: 6px;
  display: flex;
  flex: 70%;
  padding:5px 0px 8px 40px;
}
.middle-header input{
  width: 80%;
  border-radius: 5px;
  border:1px solid whitesmoke;
  padding: 14px;
  font-size: 16px;
  padding-left: 46px; 
}
.middle-header input:focus{
  outline: none;
}
.middle-header .search-icon{
  width: 20px;
  opacity: .7;
  position: absolute;
  top: 25px;
  left: 242px;
}
.option{
  opacity: 0.6;
  position: relative;
  width: 19px;
  height: 20px;
  top: 15px;
    right: 27px;
}
.right-header{
  display: flex;
  align-items: center;
}
.right-header img{
  padding: 10px;
  display: inline-flex;
  height: fit-content;
  align-items: center;
  opacity: .6;
  width: 24px;
}
#user-icon{
  opacity: 1;
  border-radius: 50%;
  width: 30px;
}
#dot-icon{
  width: 20px;
}
.main-sub button{
  padding: 0px 18px;
  display: flex;
  border-radius: 44px;
  background-color: white;
  box-shadow: 0px 2px 2px 1px rgba(82, 75, 75, 0.5);
  border: none;
}
img.plus-image{
  vertical-align: middle;
  padding: 8px;
  float: left;
  background: white;
  width: 30px;
}
.button p{
  padding: 16px 0px;
  font-size: 15px;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color:#404040;
  font-weight:500;
}
.button :hover{
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.button{
  padding: 0px 10px;
}
.main-sub{
  width: 250px;
  padding: 15px 4px;
  float: left;
}
.main-sub li{
  line-height: 15px;
}
.side-box{
  margin: 0px;
  padding: 15px 15px;
  overflow-y: scroll;
  height: 200px;
  opacity: .7;
}
ul ,li {
  list-style-type: none;
  list-style: none
}
.side-box a {
  display: inline-block;
  vertical-align: super;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  color: #404040;
  font-weight: 600;
}
span.material-icons{
  font-size: 20px;
}
.meeting-bar{
  padding: 10px 10px;
}
.meeting-bar li{
  line-height: 34px;
}
.meeting-bar ul{
  padding-top: 10px;
}
.meeting-bar a{
  vertical-align: super;
  text-decoration: none;
  font-size: 14px;
  color: black;
  padding: 5px 20px
}
.sidebox3{
  padding: 10px 10px;
 
  }
  .side-box p{
    padding: 20px;
  }
  .sidebox3 span{
    padding: 10px;
  }
  .hang-content{
    padding: 10px;
  }
  
  .main-body{
    margin: 0;
    padding: 0;
    display: flex;

  }
  .left-bar{
    float: left;
  }
  .right-bar{
    float: right;
  }
  .right-bar img{
    width: 10px;
  
  }
  .middle-bar input,
  .middle-bar img,
  .middle-bar span{
    display: inline-block;
    padding: 10px;
  }
  .middle-bar input, .middle-bar img, .middle-bar span {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }
  .categories{
    width: 100%;
    margin-top: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
  }
  .categories .primary{
    display: inline-block;
    width: 300px;
    color: red;
    border-bottom: 3px solid #D93025;
  }
  .categories .social{
    display: inline-block;
    width: 300px;
  }
  .categories .promotion{
    display: inline-block;
    width: 360px;
  }
  .categories p{
    display: inline;
    vertical-align: super;
    font-size: 13px;
    padding-left: 10px;
  }
  .mails{
    width: 100%;
    overflow: hidden;
    height: 30px;
    margin: 10px 0;
    border-bottom: 1px solid #eeeeee;
  }
  .mails p{
    display: inline;
    vertical-align: super;
    padding: 3px 10px 3px 24px;
  }
  .mails input{
    vertical-align: super;
  }
  .content-wrapper{
    width: 1037px;
    float: left;
  }
  .addon-services{
    margin-left: 15px;
    top: 0;
    float: left;
  }
  .addon-services img{
    display: block;
    width: 25px;
    height: 25px;
    margin: 15px 2px;
  }
  .addon-services img:nth-child(5) {
    margin-top: 52px;
  }
  .mails h8{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  .mails h9{
    font-size: 15px;
    opacity: .7;
  }
  .mails h4{
    float: right;
    display: block;
    margin: 8px;
    font-size: 11px;
  }
  .social img{
    width: 20px;
    
  }
/*
.header{
  padding: 4px 16px;
  
}
.left-header{
  float: left;
}
.right-header{
  float: right;
}
.left-header img{
  padding: 1px 10px;
  vertical-align: middle;
}
.left-header input{
  padding: 15px 20px 15px 60px;
  padding-top: 20px;
  width: 720px;
  font-size: 15px;
  border: none;
  outline: none;
  
  border-radius: 10px;
  vertical-align: middle;
  background-color: #f8f8f8;
}
.left-header input :focus{
  border: 1px solid #ccc;

}
#user-icon{
  border-radius: 50%;
}
.search-icon{
    width: 20px;
    left: 50px;
    top: 0px;
    position: relative;
}
.option{
  top: 0px;
  right: 45px;
  width: 20px;
}
.right-header img{
  padding: 8px 8px;
  vertical-align: middle;
  display: inline-block;
  width: 24px;

}
.main-sub button{
  padding: 0px 20px;
  display: flex;
  border-radius: 44px;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
img.plus-image{
  vertical-align: middle;
    padding: 8px;
    float: left;
    background: white;
    width: 30px;
}
.button p{
  padding: 15px 10px;
}
.main-sub{
  width: 250px;
  padding: 15px 4px;
  float: left;
}
.main-sub li{
  line-height: 20px;
}
.side-box{
  margin: 0px;
    padding: 10px;
    padding-top: 0;
    overflow-y: scroll;
}
ul ,li {
  list-style-type: none;
  list-style: none
}
.side-box span{
  color: #202124;

}
.side-box a{
  vertical-align: super;
  padding: 0px 20px;
  text-decoration: none;
  color:#202124;
  font-size: 14px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.meeting-bar{
  padding: 10;
}
.meeting-bar li{
  line-height: 40px;
}
.meeting-bar a{
  vertical-align: super;
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}
.left-bar{
  float: left;
}
.right-bar{
  float: right;
}
.right-bar img{
  width: 10px;

}
.middle-bar input,
.middle-bar img,
.middle-bar span{
  display: inline-block;
  padding: 10px;
}
.middle-bar input, .middle-bar img, .middle-bar span {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
.categories{
  width: 100%;
  margin-top: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
}
.categories .primary{
  display: inline-block;
  width: 300px;
  color: red;
  border-bottom: 3px solid #D93025;
}
.categories .social{
  display: inline-block;
  width: 300px;
}
.categories .promotion{
  display: inline-block;
  width: 360px;
}
.categories p{
  display: inline;
  vertical-align: super;
  font-size: 13px;
  padding-left: 10px;
}
.mails{
  width: 100%;
  overflow: hidden;
  height: 30px;
  margin: 10px 0;
  border-bottom: 1px solid #eeeeee;
}
.mails p{
  display: inline;
  vertical-align: super;
  padding: 3px 10px 3px 24px;
}
.mails input{
  vertical-align: super;
}
.content-wrapper{
  width: 1027px;
  float: left;
}
.addon-services{
  margin-left: 15px;
  margin-top: -20px;
  float: left;
}
.addon-services img{
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  margin: 30px auto;
}
.addon-services img:nth-child(5) {
  margin-top: 52px;
}
.mails h8{
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.mails h9{
  font-size: 15px;
  opacity: .7;
}
.mails h4{
  float: right;
  display: block;
  margin: 8px;
  font-size: 11px;
}


/*
.main-bar ul{
  margin-left: 10px;
  margin-top: 0px;
}
.side-box{
  margin: 10px;
  padding: 10px;
  overflow-y: scroll;
  width: 200px;
}

.side-box ul{
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0px;
  
}
span.material-icon{
  opacity: 0.54;
    width: 0px;
    color: gray;
}
.side-box a{
  margin-left: 20px;
  position: relative;
  padding-left: 10px;
  list-style-type: none;
  text-decoration: none;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: rgb(49, 49, 49);
  font-size: .875rem;
  letter-spacing: .2px;
  color: #202124;
  text-shadow: none;
}

.meeting-bar{
  position:absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
  list-style-type: none;
  margin: 20px;
}
.meeting-bar ul{
 
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 0px;
}
.meeting-bar a{
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  padding-left: 10px;
  list-style-type: none;
  text-decoration: none;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: rgb(49, 49, 49);
  font-size: .875rem;
  letter-spacing: .2px;
  color: #202124;
  text-shadow: none;
}
.sidebox3{
  margin-top: 130px;
  margin-left:20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 1px;
  }
  .sidebox3 img{
    border-radius: 50%;
    height: 28px;
    width: 28px;
    line-height: 28px;
  }
  .sidebox3 .name{
  font-size: 13px;
  
  }
  .sidebox3 .material-icons{
    color: #5f6368; 
    font-size: 21px;
        margin-bottom: 16px;
  }
  
