html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #wrapper {
    min-height: 100%;
    position: relative;
  }
  #content {
    padding-top: 66px;
    padding-bottom: 40px;
    width: 584px;
    margin: 0 auto;
  }
  
  #button-container {
    margin-top: 30px;
    font-size: 14px;
  }
  .right-nav{
      position: static;
      margin-left: 300px;
      
  }
  
  input[type="submit"] {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    color: #3c4043;
    font-size: 13px;
    min-width: 54px;
    padding: 7px 16px;
    margin: 0 2px;
    font-size: 14px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  
  input[type="submit"]:hover {
    border-color: #C6C6C6;
    background-color: #F8F8F8;
    color: #222;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  #header{
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  }
  
  #header > ul {
    padding: 15px;
    overflow: hidden;
    height: 30px;
  }
  
  #header > ul > li {
    margin: 0 10px;
    font-size: 13px;
    
  }
  
  #user {
    opacity: 0.55;
    float: right;
  }
  #apps{
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-size: 528px 68px;
  }
  #apps {
    width: 30px;
    height: 30px;
    background-position: -126px -38px;
    opacity: 0.55;
  }
  #apps:hover {
    opacity: 1;
  }
  
  #notifications:hover {
    background-color: #000;
  }
  #user-menu {
    display: flex;
    align-items: center;
    background-color: rgb(235, 116, 69);
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  
  #user-initial {
    width: 100%;
    text-align: center;
    color: #FFF;
    float:right;
    
  }
  #tech-logo{
      margin-right: 30px;
  }
  li img{
      margin: 0;
      padding: 0;

  }
  #search-box {
    margin-top: 5px;
    margin-left: 80px;
    width: 40%;
    height: 46px;
    background: #f1f3f4;
    border: 1px solid transparent;
    padding: 0 10px;
    padding-left: 40px;
    background: #f1f3f4;
    border: 1px solid transparent;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    box-shadow: 1px 1px  rgba(0,0,0,0.2);
    
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(163, 163, 163);
    opacity: 1; /* Firefox */
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  input {
      border:0;outline:0;
    }
  input:focus {
   outline:none!important;
    box-shadow: inset 0 0 0 1px #dadce0;
   border: 1px solid #dadce0;
    }
#search-icon{
  position: absolute;
  z-index: 1;
  margin-top: 24px;
  margin-left: 268px;
  width: 20px;
  opacity: 100%;
    
}

#slider-icon{
    margin-left: 16px;

}

.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px  rgba(0,0,0,0.2);
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    height: 35px;
    width: 100px;
    margin-left: 23px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 0, 0);
    background-color: rgb(231, 231, 231);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 6;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }
  .logged-in {
    color: green;
  }
  .triangle_down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    float: right;
    margin: 8px;
  }
  svg {
    padding: 8px;
    margin: 4px;
    margin-right: 13%;
    z-index: 6;
    position: sticky;
    width: 30px;
}
.right{
 
    float: right;  
    
}
header{
    float: right;
}
.right li{
    display:inline-block;
}
.compose-btn{
    margin: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px  rgba(0,0,0,0.2);
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    height: 48px;
    width: 140px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    height: 48px;
    min-width: 56px;
    display: inline-block;
 
}
img .compose-btn{
    float: left;
}
p .compose-btn{
    float: right;
}